VITE_PUBLIC_SITE_URL=https://eventovivo.com.br
VITE_ADMIN_URL=https://admin.eventovivo.com.br
VITE_PRIMARY_CTA_URL=
VITE_WHATSAPP_NUMBER=48996553954
VITE_WHATSAPP_MESSAGE=Ola, vim pelo site do Evento Vivo e quero saber mais
VITE_INSTAGRAM_URL=https://instagram.com/eventovivo
VITE_LINKEDIN_URL=
